.msg {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}
.msg-in {
  background-color: #f1f1f1;
  align-self: flex-start;
}
.msg-out {
  background-color: #0d6efd;
  color: white;
  align-self: flex-end;
}
